<%inherit file="homepage/templates/base.htm"/>


<%block name="content">
<div class='container viewcontainer'>
  <h1>Alumni:</h1>
  <div>
    ${ form }
  </div><br>
  <nav class='navbar nav'>
    <ul class="nav navbar-nav navbar-left">
      <li class='dropdown'>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Actions <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            <li><a href="/users/user.create/">Create</a></li>
            <li><a href="/users/upload">Upload Alumni Information </a></li>
            <li><a href="${ export_link }">Export Alumni Information </a></li>
          </ul>
      </li>

      <li class='dropdown'>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Filters <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            <li><a href="/users/users">All Users</a></li>
            <li><a href="/users/users/completed">Exit Survey Completed</a></li>
            <li><a href="/users/users/incomplete">Exit Survey Incomplete </a></li>
            <li><a href="/users/users/MISM">MISM</a></li>
            <li><a href="/users/users/BSIS">BSIS</a></li>
          </ul>
      </li>
    </ul>
  </nav>




  <table class="table table-striped users sortable">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Program</th>
        <th>Actions</th>
      </tr>
    % for u in alumni:
      <tr>
        <td>${ u.first_name }</a>
        <td>${ u.last_name }</td>
        <td>${ u.email }</td>
        %if u.program:
          <td>${ u.program }</td>
        %else:
          <td> - </td>
        %endif
        <td>
          <a href="/users/aluminfo/${ u.id }/">Details</a> |
          <a href="/users/user/${ u.id }/">Edit</a> |
          <a href="/users/user.delete/${ u.id }/" class="delete_link">Delete</a>
        </td>
      </tr>
    % endfor
  </table>
</div>

  <!-- Delete Modal -->
<div class="modal fade" id="deleteModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the alumni?</p>
      </div>
      <div class="modal-footer">
        <a id="real_delete" href="" class="btn btn-danger" type="submit">Yes</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>


</%block>
