.users{
  margin: 10px;
}

.form{
  width: 50%;
}

.viewcontainer{
    width: 70%
}

.leftindent{
  text-indent: 20px;
}

.doubleleftindent{
  text-indent: 40px;
}

.left{
  float:left;
  width:50%;
  overflow:hidden;
}

.right{
  float:left;
  width:50%;
  overflow:hidden;
}

.job_info{
float:left;
width:50%;
overflow:hidden;
}

.intern_info{
float:left;
width:50%;
overflow:hidden;
}

.btn-success{
  margin: 10px;
}

.box{
  background: white;
  box-shadow: 0 0 10px #999;
  -webkit-box-shadow: 0 0 10px #999;
  -moz-box-shadow: 0 0 10px #999;
  padding: 2em;
}

#account{
  width: 35%;
}

#aluminfo{
  width: 45%;
}

/*Footer CSS*/
.full {
    width: 100%;
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
  margin-top: 35px;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}

#footer-left{
  text-align: center;
}

#footer-right{
  text-align: center;
}

#footer-center{
  text-align: center;
}

.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}

#copyright{
  text-align: center;
  margin-top: 50px;
  font-size: 75%;
}
