<%inherit file="base.htm" />

<%block name="content">
<head>
  <script type='text/javascript'>
    function addFields(){
      //Number of inputs to create
      var number = document.getElementById("intern_fields").value;
      //Area where dynamic content will be placed
      var intern_fields = document.getElementById("intern_fields");
    }
    for (i=0; i<number; i++){
      //Append a node with random text
      intern_fields.appendChild(document.createTextNode("Internship " + (i+1)));
      //Create an <input> element, set its type and name attributes
      var input = document.createElement("input");
      input.type = "text";
      input.name = "intern" + i;
      intern_fields.appendChild(document.createElement("br"));
    }
  </script>
</head>

<body>

</body>
</html>
</%block>
